<div class="container">
  <form (submit)="handleSubmit($event)" class="download-form">
    <h1>ArgonFetch</h1>
    <p class="subtitle">Universal Media Downloader</p>
    
    <div class="input-group">
      <sl-input 
        placeholder="Enter URL to download..." 
        size="large"
        clearable
      >
        <sl-icon slot="prefix" name="link-45deg"></sl-icon>
      </sl-input>

      <sl-button type="submit" variant="primary" size="large">
        <sl-icon slot="prefix" name="download"></sl-icon>
        Download
      </sl-button>
    </div>
  </form>

  <div class="rating-container">
    <p>How would you rate ArgonFetch?</p>
    <sl-rating
      precision="1"
      value="{{ rating }}"
      (sl-change)="handleRating($event)"
    ></sl-rating>
    <p class="rating-label" *ngIf="rating > 0">
      Thanks for your {{ rating }}-star rating!
    </p>
  </div>
</div> 